@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

@Button-size-padding: @size-standard;
@Button-size-height: @size-standard-height;
@Button-size-height-small: @size-standard-height - 8;
@Button-size-height-large: @size-standard-height + 12;
@Button-size-borderRadius: @size-borderRadius;

.lucid-ButtonWithIcon {

	.lucid-Icon {
		padding-right: 8px;
	}

	& &-content {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		> .lucid-Icon {
			transition: color @timing-animation-hover, fill @timing-animation-hover;
		}

		> span {
			transition: color @timing-animation-hover, fill @timing-animation-hover;
		}
	}

	// Sizes
	&&-short {
		height: @Button-size-height-small;

		.lucid-Icon {
			padding-right: 4px;
		}
	}

	&&-small {
		height: @Button-size-height-small;
		padding: 0 @Button-size-padding/1.5;

		.lucid-Icon {
			padding-right: 4px;
		}
	}

	&&-large {
		height: @Button-size-height-large;
		padding: 0 @Button-size-padding*1.5;
		font-size: 1.2em;

		.lucid-Icon {
			width: 1.2em;
			height: 1.2em;
			padding-right: 8px;
		}
	}
}

