// -------------------------------------
// Imports
//

@import 'http://yui.yahooapis.com/pure/0.6.0/pure-min.css';
@import '../styles/variables';
@import '../styles/mixins';

// Normalize
#Normalize > .html;
#Normalize > .body;

// -------------------------------------
// Globals
//

pre code {
	font-family: monospace;
	tab-size: 2; // This does not work in IE, I can live with that
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


// -------------------------------------
// Component
//

.Component {
	&-examples {
		list-style: none;
		padding-left: 0;
	}

	&-examples-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-props-table {
		p {
			margin: 5px 0;
		}

		td {
			padding: 2px 7px;
		}
	}
}

// -------------------------------------
// App
//

@App-sidebar-width: 180px;

.App {
	&-sidebar {
		position: fixed;
		height: 100vh;
		width: @App-sidebar-width;
		padding: 15px;
		padding-left: 0;
		overflow: auto;
	}

	&-body{
		padding: 15px;
		padding-left: @App-sidebar-width;
	}

	&-nav {
		ul, li {
			padding-left: 10px;
			list-style-type: none;
		}
	}
}

// color palette

.lucid-ColorPalette {
	border: 1px solid @color-borderColor;
	width: 200px;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: @borderRadius;
	&:hover {
		background-color: orange;
	}
	& > div {
		height: 100px;
		border-radius: 2px;
		border: 1px solid @color-borderColor;
	}

	&-hex-string {
		font-style: italic;
		font-size: .8em;
		margin: 0;
	}

	&-color-white {
		background-color: @color-white;
	}

	&-color-black {
		background-color: @color-black;
	}

	&-color-gray-5 {
		background-color: @color-gray-5;
	}

	&-color-gray-10 {
		background-color: @color-gray-10;
	}

	&-color-gray-25 {
		background-color: @color-gray-25;
	}

	&-color-gray-30 {
		background-color: @color-gray-30;
	}

	&-color-lightGray {
		background-color: @color-lightGray;
	}

	&-color-gray {
		background-color: @color-gray;
	}

	&-color-mediumGray {
		background-color: @color-mediumGray;
	}

	&-color-darkGray {
		background-color: @color-darkGray;
	}

	&-color-default {
		background-color: @color-default;
	}

	&-color-primary {
		background-color: @color-primary;
	}

	&-color-success {
		background-color: @color-success;
	}

	&-color-info {
		background-color: @color-info;
	}

	&-color-warning {
		background-color: @color-warning;
	}

	&-color-danger {
		background-color: @color-danger;
	}

	&-color-borderColor {
		background-color: @color-borderColor;
	}

	&-color-backgroundColor {
		background-color: @color-backgroundColor;
	}

	// default
	&-color-default-borderColor {
		background-color: @color-default-borderColor;
	}

	&-color-default-backgroundColor {
		background-color: @color-default-backgroundColor;
	}

	&-color-default-gradientStartColor {
		background-color: @color-default-gradientStartColor;
	}

	&-color-default-gradientEndColor {
		background-color: @color-default-gradientEndColor;
	}

	// primary
	&-color-primary-borderColor {
		background-color: @color-primary-borderColor;
	}

	&-color-primary-borderColorLite {
		background-color: @color-primary-borderColorLite;
	}

	&-color-primary-backgroundColor {
		background-color: @color-primary-backgroundColor;
	}

	&-color-primary-gradientStartColor {
		background-color: @color-primary-gradientStartColor;
	}

	&-color-primary-gradientEndColor {
		background-color: @color-primary-gradientEndColor;
	}

	// success
	&-color-success-borderColor {
		background-color: @color-success-borderColor;
	}

	&-color-success-borderColorLite {
		background-color: @color-success-borderColorLite;
	}

	&-color-success-backgroundColor {
		background-color: @color-success-backgroundColor;
	}

	&-color-success-gradientStartColor {
		background-color: @color-success-gradientStartColor;
	}

	&-color-success-gradientEndColor {
		background-color: @color-success-gradientEndColor;
	}

	// info
	&-color-info-borderColor {
		background-color: @color-info-borderColor;
	}

	&-color-info-borderColorLite {
		background-color: @color-info-borderColorLite;
	}

	&-color-info-backgroundColor {
		background-color: @color-info-backgroundColor;
	}

	&-color-info-gradientStartColor {
		background-color: @color-info-gradientStartColor;
	}

	&-color-info-gradientEndColor {
		background-color: @color-info-gradientEndColor;
	}

	// warning
	&-color-warning-borderColor {
		background-color: @color-warning-borderColor;
	}

	&-color-warning-borderColorLite {
		background-color: @color-warning-borderColorLite;
	}

	&-color-warning-backgroundColor {
		background-color: @color-warning-backgroundColor;
	}

	&-color-warning-gradientStartColor {
		background-color: @color-warning-gradientStartColor;
	}

	&-color-warning-gradientEndColor {
		background-color: @color-warning-gradientEndColor;
	}

	// danger
	&-color-danger-borderColor {
		background-color: @color-danger-borderColor;
	}

	&-color-danger-borderColorLite {
		background-color: @color-danger-borderColorLite;
	}

	&-color-danger-backgroundColor {
		background-color: @color-danger-backgroundColor;
	}

	&-color-danger-gradientStartColor {
		background-color: @color-danger-gradientStartColor;
	}

	&-color-danger-gradientEndColor {
		background-color: @color-danger-gradientEndColor;
	}
}
