// -------------------------------------
// Imports
//

@import '../styles/variables';
@import './containers/colors';
@import './containers/landing-page';
@import '../styles/mixins';

// Normalize Mixins
#normalize > .html();
#normalize > .body();

// -------------------------------------
// Globals
//

pre code {
	font-family: monospace;
	tab-size: 2; // This does not work in IE, I can live with that
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


// -------------------------------------
// Component
//

.Component {
	&-examples {
		list-style: none;
		padding-left: 0;
	}
	&-examples.Button {

		> li > section {
			display: flex;
			flex-direction: column;

			> article {
				display: flex;
				margin: 5px 0;

				button:not(:last-child) { margin-right: 5px; }
			}
		}

	}

	&-examples-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-props-table {
		p {
			margin: 5px 0;
		}

		td {
			padding: 2px 7px;
		}
	}

	&-made-from {
		font-size: 14px;
	}
}

// -------------------------------------
// App
//

@App-sidebar-width: 215px;

.App {
	&-sidebar {
		position: fixed;
		height: 100vh;
		width: @App-sidebar-width;
		overflow: auto;
		background-color: @color-white;
		border-right: 1px solid @color-gray;

		// Little fix for scroll bars
		.lucid-VerticalListMenu-Item-expander {
			margin-right: 10px;
		}
	}

	&-body{
		// 1px is a hack that keeps spacing nice, I'm too lazy to figure it out
		padding: 1px 15px 15px (@App-sidebar-width + 15);
	}
}
