@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.lucid-Tag {
	display: inline-flex;
	margin: 0 @size-XS @size-XS 0;

	&-leaf {
		margin: 0 @size-XXS @size-XXS 0;

		.lucid-Tag-inner {
			border: 1px solid @color-gray;
		}
		&:last-child {
			margin-right: 0;
		}
	}

	&-leaf&-is-removable {
		.lucid-Tag-inner {
			border-color: @featured-color-primary-borderColorMedium;
		}
	}

	& &-inner {
		border-radius: @size-borderRadius;
		background: @color-lightGray;
		font-weight: bold;
		font-size: @size-font;
		color: @color-textColor;
		width: 100%; // fix for IE 11 bug flex wrapping bug
		padding: 5px @size-XS 2px;
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;

		.lucid-Tag-inner-children {
			padding: 0 @size-XS @size-XXS 0;
		}

		.lucid-Tag-remove {
			padding: 1px @size-XS 0 0;

			&-button {
				fill: fade(@color-darkGray, 50%);
			}

			&:hover {
				.lucid-Tag-remove-button {
					fill: @color-darkGray;
				}
			}
		}

		.lucid-Tag-leaf& {
			border-radius: 3px;
			background: @color-white;
			font-size: @size-standard;
			font-weight: normal;
			color: @color-black;
			min-height: @size-tag;
			padding: @size-XXS @size-XS 0;

			.lucid-Tag-inner-children {
				padding: 0 0 @size-XXS;
			}

			.lucid-Tag-remove {
				padding: 0 0 0 @size-XS;

				&-button {
					fill: @color-mediumGray;
				}
			}
		}
	}
}
