@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.@{prefix}-TimeSelect {
	display: flex;
	position: relative;
	align-items: center;
	font-size: @fontSize;
	font-weight: @font-weight-medium;
	color: @color-darkGray;
	line-height: @size-standard-height;
	//padding: 0 @size-S;
	border: 1px solid @featured-color-default-borderColor;
	width: fit-content;

	@digit-width: 0.54em;
	@colon-width: 0.217em;
	// own padding + inputs padding + digits width + dots width
	min-width: calc(~'(4px * 3) + ' @digit-width * 6 ~' + ' @colon-width * 2);
	flex-grow: 1;
	padding: 0 2px;
	box-sizing: content-box;

	&-time-hour {
		text-align: right;
	}

	&-meridiem {
		.lucid-SingleSelect-Control {
			padding: 0;
			border: 1px;
		}

		.lucid-SingleSelect-Control-content {
			margin-right: 10px;
		}
	}

	&-clock {
		stroke: @color-neutral-5;
	}

	&-time {
		border-style: none;
		width: 1.3em;
		height: 100%;
		position: relative;
		padding: 0 1px;
		border: 0;
		background: none;
		font: inherit;
		box-sizing: content-box;
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}
