.lucid-Panel {
	overflow: hidden;
	border-radius: @size-borderRadius;
	margin: 0 @size-standard @size-standard @size-standard;
	position: relative;
	background-color: @color-white;
	border: @border-standardBorder;

	&-header {
		padding: @size-standard;
		border-bottom: @border-standardBorder;
	}

	&:not(&-content-is-gutterless) &-content{
		padding: @size-standard;
		overflow: auto;
	}

	&-footer {
		text-align: right;
		padding: @size-standard;
		border-top: @border-standardBorder;
	}
}
