@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.@{prefix}-Panel {
	overflow: hidden;
	border-radius: @size-borderRadius;
	margin: 0;
	position: relative;
	background-color: @color-white;
	border: 1px solid @color-neutral-4; // slightly lighter than standard borders

	&&-has-margin {
		margin: 0 @size-standard @size-standard @size-standard;
	}

	.@{prefix}-Panel-is-scrollable& {
		display: flex;
		flex-direction: column;
	}

	& > &-Header {
		display: flex;
		align-items: center;
		margin: 20px;
		font-size: @size-font-L;
		font-weight: @font-weight-medium;

		.@{prefix}-Panel-is-not-gutterless& {
			margin-bottom: 0;
		}

		.@{prefix}-Panel-is-scrollable& {
			flex-shrink: 0;
		}
	}

	& > &-content {
		font-size: 12px;

		.@{prefix}-Panel-is-not-gutterless& {
			margin: 20px 0;
			padding: 0 20px;
			overflow: auto;
		}

		.@{prefix}-Panel-is-scrollable& {
			overflow: auto;
			flex: 1 1 auto;
		}
	}

	& > &-Footer {
		text-align: right;
		margin: 20px;

		.@{prefix}-Panel-is-not-gutterless& {
			margin-top: 0;
		}

		.@{prefix}-Panel-is-scrollable& {
			flex-shrink: 0;
		}
	}
}
