@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/mixins.less';

.@{prefix}-MinusCircleLightIcon {
	stroke: @color-secondary-1;

	&-is-clickable:not(&-is-disabled):hover &-dash,
	&-is-active:hover &-dash {
		stroke: @color-white;
	}

	&-background {
		stroke: @color-secondary-1;
	}

	&-is-clickable:not(&-is-disabled):hover &-background,
	&-is-active:hover &-background {
		stroke: @color-secondary-1;
		fill: @color-secondary-1;
	}
}
