@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

@Badge-font-color: #333;
@Badge-background-color: @color-backgroundColor;
@Badge-border-style: @border-standardBorder;
@Badge-border-size: 1.08rem;
@Badge-padding-size: @size-XXS @size-S;

.lucid-Badge {
	border: @Badge-border-style;
	border-radius: @Badge-border-size;
	color: @Badge-font-color;
	cursor: default;
	display: inline-block;
	font-weight: 500;
	font-size: @Badge-border-size;
	padding: @Badge-padding-size;
	background-color: @Badge-background-color;
}
