{
	"env": {
		"test": {
			"plugins": []
		},
		"development": {
			"plugins": ["lodash"]
		},
		"production": {
			"plugins": [
				["react-peek/babel", {
					"minifyStatics": true
				}],
				"lodash"
			]
		}
	},
	"presets": [
		"stage-2",
		"es2015",
		"react"
	]
}
