# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Default rules
[*]
indent_style = tab
end_of_line = lf
insert_final_newline = true
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2
