@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.@{prefix}-SidePanel {
	.@{prefix}-SidePanel-pane {
		height: 100%;
		position: fixed;
		top: 0;
		display: flex;

		.@{prefix}-SidePanel-is-animated& {
			transition: transform 200ms;
		}

		.@{prefix}-SidePanel-is-expanded.@{prefix}-SidePanel-is-expanded& {
			transform: translateX(0);
		}

		.@{prefix}-SidePanel-position-right& {
			right: 0;
			transform: translateX(100%);
		}

		.@{prefix}-SidePanel-position-left& {
			left: 0;
			flex-direction: row-reverse;
			transform: translateX(-100%);
		}

		.@{prefix}-SidePanel-grabber {
			background-color: @color-backgroundColor;
			width: @size-XS;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: ew-resize;
			box-sizing: border-box;

			.@{prefix}-SidePanel-position-right& {
				border-left: @border-lightBorder;
			}

			.@{prefix}-SidePanel-position-left& {
				border-right: @border-lightBorder;
			}

			.@{prefix}-GripperVerticalIcon {
				transform: translateX(-0.5px);
			}

			&:hover {
				background-color: @color-mediumGray;

				.@{prefix}-GripperVerticalIcon {
					fill: @color-darkGray;
				}
			}
		}

		.@{prefix}-SidePanel-panel {
			width: 240px;
			height: 100%;
			background-color: @color-backgroundColor;
			display: flex;
			flex-direction: column;

			.@{prefix}-SidePanel-position-right& {
				border-left: @border-lightBorder;
			}

			.@{prefix}-SidePanel-position-left& {
				border-right: @border-lightBorder;
			}

			.@{prefix}-SidePanel-header {
				border-bottom: @border-lightBorder;
				background: white;
				
				.@{prefix}-SidePanel-header-inner-wrapper {
					display: flex;
					
					.@{prefix}-SidePanel-header-content {
						flex: 1;
						margin: 6px;
						height: 100%;
					}

					.@{prefix}-SidePanel-header-closer {
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						padding: @size-XS;
						margin: @size-standard;
						
						.@{prefix}-CrossIcon {
							fill: @color-disabledText;
						}
					}
				}
			}

			.@{prefix}-SidePanel-content {
				overflow: auto;
			}
		}
	}
}
