@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

@IconGroup_margin: 9px;
@iconBoxFontSize: 14px;

.lucid-IconSelect {
	display: inline-flex;
	flex-wrap: wrap;

	> figure:not(:last-of-type) {
		margin: 0 @IconGroup_margin @IconGroup_margin 0;
	}
}

// Base Iconbox
.lucid-IconSelect-Item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0;
	box-sizing: border-box;
	position: relative;
	align-items: center;
	padding: 12px 6px 11px;
	width: 120px;
	overflow: hidden;

	// Create border that doesn't effect layout
	&::before {
		content: '';
		top: 0;
		left: 0;
		position: absolute;
		border: 1px solid @color-gray;
		border-radius: 4px;
		transition: all 0.1s linear;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		margin: 0 18px 0 0;
	}

	// On Hover, Active, Indeterminate, or Selected
	&:not(.lucid-IconSelect-Item-is-disabled):hover,
	&.lucid-IconSelect-Item-is-active,
	&.lucid-IconSelect-Item-is-selected {
		cursor: pointer;

		&:not(.lucid-IconSelect-Item-is-indeterminate)::before {
			border-width: 2px;
			border-color: @color-primary;
		}

		.lucid-Icon {
			opacity: 1;
			fill: @color-primary;
		}

		.lucid-Checkbox-visualization-container {
			border-color: @color-primary;
		}
	}

	// On Hover
	&:not(.lucid-IconSelect-Item-is-disabled):hover {
		.lucid-Checkbox-visualization-glow {
			opacity: 0.3;
			transform: scale(1.375);
		}
	}

	&.lucid-IconSelect-Item-is-active,
	&:active {
		.lucid-Checkbox-visualization-container {
			background: @color-primary;
		}
	}

	.lucid-IconSelect-Item-figcaption,
	.lucid-CheckboxLabeled,
	.lucid-RadioButtonLabeled {
		font-size: @size-font;
		white-space: nowrap;
		text-align: center;
	}
}

// Disabled
.lucid-IconSelect-Item.lucid-IconSelect-Item-is-disabled {
	opacity: 0.9;

	&:hover {
		cursor: not-allowed;
	}

	.lucid-Icon {
		fill: @color-gray;
	}
}

// Disabled && Selected
.lucid-IconSelect-Item.lucid-IconSelect-Item-is-disabled.lucid-IconSelect-Item-is-selected {
	.lucid-Icon {
		opacity: 0.5;
		fill: @color-primary;
	}
}

// Icon
.lucid-IconSelect-Item .lucid-Icon {
	width: 72px;
	height: 32px;
	fill: @color-darkGray;
	transition: all 0.1s linear;
}

// Has a Checkbox Input
.lucid-IconSelect-Item-multi {
	height: 103px;
}

.lucid-IconSelect-Item-checkbox {
	&.lucid-CheckboxLabeled {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&.lucid-CheckboxLabeled > .lucid-Checkbox {
		margin-right: 0;
	}

	.lucid-CheckboxLabeled-Checkbox {
		order: 2;
	}

	.lucid-CheckboxLabeled-label {
		order: 1;
		padding: 6px 0;
	}
}

// Has Radio Input
.lucid-IconSelect-Item-single {
	height: 90px;
}

.lucid-IconSelect-Item-radio {
	.lucid-RadioButton.lucid-IconSelect-Item-radio {
		visibility: hidden;
		position: absolute;
	}
}
