// button sizes
@Button-size-padding: 15px;
@Button-size-lineHeight: 26px;
@Button-size-height: 28px;
@Button-size-height-small: 20px;
@Button-size-height-large: 40px;
@Button-size-shortlineHeight: 20px;
@Button-size-borderRadius: @size-borderRadius;

.lucid-Button {
	.no-safari-flicker();
	.box-sizing();
	.gradient-animation(@featured-color-default-gradientStartColor, @featured-color-default-gradientEndColor);
	height: @Button-size-height;
	cursor: pointer;
	display: inline-block;
	outline: none;
	border: 1px solid @featured-color-default-borderColor;
	border-radius: @Button-size-borderRadius;
	font: @font;
	letter-spacing: .05em;
	padding: 0 @Button-size-padding;

	& &-content {
		display: inline;
		> .lucid-Icon {

		}
		> .lucid-Icon {
			margin-left: -3px;
			margin-right: -3px;
		}
	}

	// Types
	&&-primary {
		.gradient-animation(@featured-color-primary-gradientStartColor, @featured-color-primary-gradientEndColor);
		.make-is-disabled(lucid-Button, @featured-color-primary-gradientStartColor, @featured-color-primary-gradientEndColor);
		color: @color-white;
		border-color: @featured-color-primary-borderColor;
		font-weight: 500;
	}
	&&-success {
		.gradient-animation(@featured-color-success-gradientStartColor, @featured-color-success-gradientEndColor);
		.make-is-disabled(lucid-Button, @featured-color-success-gradientStartColor, @featured-color-success-gradientEndColor);
		color: @color-white;
		border-color: @featured-color-success-borderColor;
		font-weight: 500;
	}
	&&-info {
		.gradient-animation(@featured-color-info-gradientStartColor, @featured-color-info-gradientEndColor);
		.make-is-disabled(lucid-Button, @featured-color-info-gradientStartColor, @featured-color-info-gradientEndColor);
		color: @color-white;
		border-color: @featured-color-info-borderColor;
		font-weight: 500;
	}
	&&-warning {
		.gradient-animation(@featured-color-warning-gradientStartColor, @featured-color-warning-gradientEndColor);
		.make-is-disabled(lucid-Button, @featured-color-warning-gradientStartColor, @featured-color-warning-gradientEndColor);
		color: @color-white;
		border-color: @featured-color-warning-borderColor;
		font-weight: 500;
	}
	&&-danger {
		.gradient-animation(@featured-color-danger-gradientStartColor, @featured-color-danger-gradientEndColor);
		.make-is-disabled(lucid-Button, @featured-color-danger-gradientStartColor, @featured-color-danger-gradientEndColor);
		color: @color-white;
		border-color: @featured-color-danger-borderColor;
		font-weight: 500;
	}
	&&-link {
		.gradient-reset();
		.make-is-disabled(lucid-Button);
		border: none;
		background: none;
		color: @color-linkColor;

		&:hover {
			color: @color-linkColorHover;
			background: none;
			text-decoration: underline;
		}

		.lucid-Icon {
			margin-right: 5px;
			margin-top: -1px;
		}
	}

	// Sizes
	&&-short {
		height: @Button-size-height-small;
	}
	&&-small {
		padding: 0 @Button-size-padding/1.5;
	}
	&&-large {
		height: @Button-size-height-large;
		padding: 0 @Button-size-padding*1.5;
		font-size: 1.2em;

		.lucid-Icon {
			width: 1.2em;
			height: 1.2em;
		}
	}

	// States
	&&-is-active {
		.gradient-reset();
		background: @featured-color-primary;
		border-color: @featured-color-primary;
		color: @color-white;

		.lucid-Icon { fill: @color-white; }
	}
	&&-is-active&-primary {
		background: @featured-color-primary;
		border-color: @featured-color-primary;
	}
	&&-is-active&-success {
		border-color: @featured-color-success-borderColor;
		background: @featured-color-success;
	}
	&&-is-active&-info {
		border-color: @featured-color-info-borderColor;
		background: @featured-color-info;
	}
	&&-is-active&-warning {
		border-color: @featured-color-warning-borderColor;
		background: @featured-color-warning;
	}
	&&-is-active&-danger {
		border-color: @featured-color-danger-borderColor;
		background: @featured-color-danger;
	}
	&-is-disabled {
		.gradient-reset(linear-gradient(@standardGradient, @featured-color-default-gradientStartColor, @featured-color-default-gradientEndColor));
		.opacity();
		cursor: not-allowed;
	}

	// Also needed in some cases to beat other libraries (e.g. pure.css)
	&[disabled] {
		cursor: not-allowed;
	}
}
