@List-border-size: 4px;
@list-child-list-spacer: 6px;
@list-child-padding: 15px;

ul.lucid-List { list-style: none; }

// Base List
.lucid-List {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		width: 100%;
		padding: 0;

		a {
			.selectable();
			display:block;
			font-weight: bold;
			line-height: @Button-size-lineHeight;
			border-width: 0 0 1px 0;
			border-color: #e3e3e3;
			border-style: solid;
			width: 100%;
			color: @color-primary;

			&:hover {
				.hardstop-gradient(to right, @featured-color-primary, @featured-color-default-gradientEndColor, @List-border-size);
				color: @color-darkGray;
			}

			&:focus,
			&:active {
				.hardstop-gradient(to right, @featured-color-primary, @featured-color-primary-gradientStartColor, @List-border-size);
				color: @color-darkGray;
			}
		}
	&-ListItem-is-parent &-ListItem {
		a {
			font-weight: normal;

			&:before {
				content: '-';
				display: inline-block;
				width: @list-child-list-spacer;
				color: #e3e3e3;
				margin: 0 @list-child-list-spacer 0 0;
			}

			&:hover {
				&:before {
					color: #333333;
				}
			}
		}
	}

	/*
	 * This handles the indentation spacing of the menu items.
	*/
	> li {
		:hover{

		}

		> a {
			padding: 0 @list-child-padding;
		}

		> .lucid-List li {
			> a {
				padding: 0 @list-child-padding;
			}

			> .lucid-List li {
				> a {
					padding: 0 (@list-child-padding + (@list-child-list-spacer*2));
				}
			}
		}
	}
}

.lucid-List-is-expandable {
	.downArrowButton();
	overflow: hidden;

	.lucid-List-ListItem-is-parent {
		&:hover {
			border: red 2px solid;
		}
	}

	.lucid-List{
		// height: 0;

	}
}
