.lucid-Grid {
	.box-sizing();
	display: flex;
	flex-wrap: nowrap;

	&-is-vertical {
		flex-direction: column;
	}
	&-is-horizontal {
		flex-direction: row;
	}
	&-is-multiline{
		flex-wrap: wrap;
	}
	&-is-gutterless {
		.lucid-Cell {
			padding: 0;
		}
	}

	.lucid-Grid { flex: 1 }
}

.lucid-Cell {
	.box-sizing();
	flex: 1 1 auto;
	padding: 10px 0 0 5px;

	&:first-child{
		padding-left: 0;
	}

	&-is-full{
		flex: 0 0 100%;
	}
	&-is-half{
		flex: 0 0 50%;
	}
	&-is-third{
		flex: 0 0 33.333%;
	}
	&-is-quarter{
		flex: 0 0 25%;
	}

	&-is-2{ flex: 2 1 0%; }
	&-is-3{ flex: 3 1 0%; }
	&-is-4{ flex: 4 1 0%; }
	&-is-5{ flex: 5 1 0%; }
	&-is-6{ flex: 6 1 0%; }
	&-is-7{ flex: 7 1 0%; }
	&-is-8{ flex: 8 1 0%; }
	&-is-9{ flex: 9 1 0%; }
	&-is-10{ flex: 10 1 0%; }
	&-is-11{ flex: 11 1 0%; }

	&-is-offset-quarter { margin-left: 25%; }
	&-is-offset-third { margin-left: 33.3333%; }
	&-is-offset-half { margin-left: 50%; }
}
