@Tabs-spacer-height: 3px;
@Tabs-tab-height: 28px - @Tabs-spacer-height;

.lucid-Tabs {
	&-bar {
		font-size: @fontSize;
		font-family: @fontFamily;
		list-style-type: none;
		display: flex;
		margin: 0;
		padding: 0;
	}

	&-bar-item {
		color: @color-primary;
		text-align: center;
		flex: 1 1 auto;
		cursor: pointer;
		user-select: none;

		&:hover {
			background-color: @color-gray-5;
		}

		&:active {
			box-shadow: @shadow-inset;
		}
	}
	&-bar-item-is-active {
		color: #000;
		cursor: initial;

		&:hover {
			background-color: initial;
		}
	}

	&-bar-spacer {
		border: 1px solid @color-default-borderColor;
		border-bottom: 0;
		border-left: 0;
		height: 3px;
	}
	&-bar-spacer-is-active {
		border: 0;
		background-color: @color-primary;
	}
	&-bar-spacer-is-first {
		border-left: 1px solid @color-default-borderColor;
	}

	&-bar-content {
		display: flex;
		justify-content: center;
		align-items: center;
		height: @Tabs-tab-height;
		border: 1px solid @color-default-borderColor;
		border-top: 0;
		border-left: 0;
	}
	&-bar-content-is-first {
		border-left: 1px solid @color-default-borderColor;
	}
	&-bar-content-is-open {
		border-bottom: 0;
		padding-bottom: 1px;
	}

	&-content {

	}
}
