@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.@{prefix}-Expander {
	&-icon {
		// .box-sizing();
		display: inline-block;
		width: 20px;
		height: 20px;
		align-items: center;
		justify-content: center;
		margin-right: @size-XS;

		.@{prefix}-Icon {
			margin: 4px;
		}
	}

	&-header {
		align-items: center;
		color: @color-darkGray;
		display: flex;
		font-size: @fontSize;
		justify-content: flex-start;

		&-toggle {
			cursor: pointer;

			&:hover {
				> .@{prefix}-Expander-icon {
					.box-sizing();

					background-color: @featured-color-default-backgroundColorHover;
					outline: none;
				}

				> .@{prefix}-Expander-text {
					text-decoration: underline;
				}
			}
		}
	}

	&-text {
		color: @color-darkGray;
		height: @size-expander-button;
		font-weight: @font-weight-medium;
		position: relative;

		> * {
			line-height: @size-expander-button;
			white-space: nowrap;
		}
	}

	&-additional-content {
		flex: 1;
		margin-left: @size-standard;
	}

	&-content {
		overflow: hidden;
	}

	// kind
	&-kind-highlighted {
		.@{prefix}-Expander-header {
			background: @color-backgroundColor;
			border: @border-lightBorder;
			padding: @size-standard;
			display: flex;
			flex-direction: row-reverse;

			.@{prefix}-Expander-text {
				font-size: @size-font-L;
				color: @color-textColor;
				font-weight: bold;
				flex: 1;
			}

			.@{prefix}-Expander-icon {
				margin: 0;
				flex-shrink: 0;
			}

			&:hover .@{prefix}-Expander-text > span {
				text-decoration: none;
			}
		}

		.@{prefix}-Collapsible-content {
			padding: @size-standard;
		}
	}
}

