@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.lucid-VerticalTabs {
	display: flex;
	flex-direction: row;

	& > .lucid-VerticalListMenu {
		flex: 1;
	}

	& > &-content {
		flex: 3;
		border-left: @border-lightBorder;
	}

	// make the tab highlight extend all the way to the top of the tab
	.lucid-VerticalListMenu-Item:first-of-type > .lucid-VerticalListMenu-Item-content {
		border-top: 0;
	}
}

