@horizontal-lines: 1px solid @color-gray;
@size-padding: 12px;

.lucid-Container {
	overflow: hidden;
	border-radius: 6px;
	margin: 0 10px 10px 10px;
	position: relative;
	background-color: @color-white;
	border: 1px solid @color-borderColor;

	&-header {
		padding: @size-padding;
		border-bottom: @horizontal-lines;
	}

	&-content {
		padding: @size-padding;
		overflow: auto;
	}

	&-footer {
		text-align: right;
		padding: @size-padding;
		border-top: @horizontal-lines;
	}
}
