@ColorPalette-variables:
	color-primary,
	color-primaryMedium,
	color-primaryLight,
	color-white,
	color-textColor,
	color-disabledText,
	color-linkColor,
	color-linkColorHover,
	color-gray-5,
	color-gray-10,
	color-gray-25,
	color-gray-30,
	color-lightGray,
	color-gray,
	color-mediumGray,
	color-darkGray,
	color-borderColor,
	color-backgroundColor,
	featured-color-default,
	featured-color-primary,
	featured-color-success,
	featured-color-info,
	featured-color-warning,
	featured-color-danger,
	featured-color-default-borderColor,
	featured-color-default-backgroundColor,
	featured-color-default-gradientStartColor,
	featured-color-default-gradientEndColor,
	featured-color-primary-borderColor,
	featured-color-primary-borderColorLite,
	featured-color-primary-backgroundColor,
	featured-color-primary-gradientStartColor,
	featured-color-primary-gradientEndColor,
	featured-color-success-borderColor,
	featured-color-success-borderColorLite,
	featured-color-success-backgroundColor,
	featured-color-success-gradientStartColor,
	featured-color-success-gradientEndColor,
	featured-color-info-borderColor,
	featured-color-info-borderColorLite,
	featured-color-info-backgroundColor,
	featured-color-info-gradientStartColor,
	featured-color-info-gradientEndColor,
	featured-color-warning-borderColor,
	featured-color-warning-borderColorLite,
	featured-color-warning-backgroundColor,
	featured-color-warning-gradientStartColor,
	featured-color-warning-gradientEndColor,
	featured-color-danger-borderColor,
	featured-color-danger-borderColorLite,
	featured-color-danger-backgroundColor,
	featured-color-danger-gradientStartColor,
	featured-color-danger-gradientEndColor,
	color-chart-1-lightest,
	color-chart-1-light,
	color-chart-1,
	color-chart-1-dark,
	color-chart-1-darkest,
	color-chart-2-lightest,
	color-chart-2-light,
	color-chart-2,
	color-chart-2-dark,
	color-chart-2-darkest,
	color-chart-3-lightest,
	color-chart-3-light,
	color-chart-3,
	color-chart-3-dark,
	color-chart-3-darkest,
	color-chart-4-lightest,
	color-chart-4-light,
	color-chart-4,
	color-chart-4-dark,
	color-chart-4-darkest,
	color-chart-5-lightest,
	color-chart-5-light,
	color-chart-5,
	color-chart-5-dark,
	color-chart-5-darkest,
	color-chart-6-lightest,
	color-chart-6-light,
	color-chart-6,
	color-chart-6-dark,
	color-chart-6-darkest,
	color-chart-good,
	color-chart-good-dark,
	color-chart-good-light,
	color-chart-bad,
	color-chart-bad-dark,
	color-chart-bad-light,
	color-black;

.ColorPalette-loop(@i: length(@ColorPalette-variables)) when (@i > 0) {
	@name: extract(@ColorPalette-variables, @i);

	&-@{name} { background-color: @@name }

	// Recurse
	.ColorPalette-loop(@i - 1);
}

.lucid-ColorPalette {
	// Invoke the loop
	.ColorPalette-loop();
	border: 1px solid @color-borderColor;
	background-color: @color-backgroundColor;
	width: 200px;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: @size-borderRadius;

	& > div {
		height: 100px;
		border-radius: @size-borderRadius;
		border: 1px solid @color-borderColor;
	}

	&-hex-string {
		font-style: italic;
		font-size: .8em;
		margin: 0;
	}
}
