.Icons {

	&-list {
		padding: 0;
		max-height: 75vh;

		display: flex;
		align-items: flex-start;
		flex-flow: column wrap;
		align-content: flex-start;

		& > li {
			// min-width: 200px;
			list-style-type: none;
		}

		.lucid-Button .lucid-Button-content > .lucid-Icon {
			margin-right: @size-standard;
		}
	}

}
