.lucid-LandingPage {
	background-image: data-uri('../img/pdx.svg');
	width: 100%;
	height: 100vh;
}

.pdx-carpet {
	.pink      { fill: @color-primaryLight; }
	.darkBlue  { fill: @color-black; }
	.lightBlue { fill: @color-primaryMedium; }
	.purple    { fill: @color-black; }
}
