// Base
@borderRadius: 4px;

// font properties
@fontSize: 12px;
@fontFamily: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
@font: @fontSize @fontFamily;

// type-subtype-propName

// Gradient values
@standardGradient: to bottom;
@hoverGradient: to top;

@size-boxShadow: rgba(0,0,0,.3);
@size-borderRadius: 4px;

// banner sizes
@Banner-size-spacing-rightLeft: 10px;
@Banner-size-spacing-topBottom: 13px;
@Banner-size-borderRadiaus: @borderRadius;

// button sizes
@Button-size-padding: 12px;
@Button-size-lineHeight: 26px;
@Button-size-borderRadius: @size-borderRadius;

// colors
@color-white: #fff;
@color-black: #000;
@color-primary: #2abbb0;

@color-disabledText: tint(#333, 50%);

@color-gray-5: fade(@color-black, 5%);
@color-gray-10: fade(@color-black, 10%);
@color-gray-25: fade(@color-black, 25%);
@color-gray-30: fade(@color-black, 30%);

// basic colors
@color-lightGray: #f4f4f4;
@color-gray: #e3e3e3;
@color-mediumGray: #c5c5c5;
@color-darkGray: #333333;

// featured colors
@special-color-default: #f3f3f3;
@special-color-primary: @color-primary;
@special-color-success: #3fa516;
@special-color-info: #0089c4;
@special-color-warning: #feb209;
@special-color-danger: #f7403a;

@color-borderColor: @color-mediumGray;
@color-backgroundColor: @color-lightGray;

// Shadows

@shadow-inset: 0 10px 10px -10px @color-gray-30 inset;

// default
@special-color-default-borderColor: #c5c5c5;
@special-color-default-backgroundColor: #ededed;
@special-color-default-gradientStartColor: #f3f3f3;
@special-color-default-gradientEndColor: #e2e2e2;

// primary
@special-color-primary-borderColor: @special-color-primary;
@special-color-primary-borderColorLite: tint(@special-color-primary, 60%);
@special-color-primary-backgroundColor: tint(@special-color-primary, 70%);
@special-color-primary-gradientStartColor: tint(@special-color-primary, 30%);
@special-color-primary-gradientEndColor: @special-color-primary;

// success
@special-color-success-borderColor: @special-color-success;
@special-color-success-borderColorLite: tint(@special-color-success, 60%);
@special-color-success-backgroundColor: tint(@special-color-success, 70%);
@special-color-success-gradientStartColor: tint(@special-color-success, 30%);
@special-color-success-gradientEndColor: @special-color-success;

// info
@special-color-info-borderColor: @special-color-info;
@special-color-info-borderColorLite: tint(@special-color-info, 60%);
@special-color-info-backgroundColor: tint(@special-color-info, 70%);
@special-color-info-gradientStartColor: tint(@special-color-info, 30%);
@special-color-info-gradientEndColor: @special-color-info;

// warning
@special-color-warning-borderColor: @special-color-warning;
@special-color-warning-borderColorLite: tint(@special-color-warning, 60%);
@special-color-warning-backgroundColor: tint(@special-color-warning, 70%);
@special-color-warning-gradientStartColor: tint(@special-color-warning, 30%);
@special-color-warning-gradientEndColor: @special-color-warning;

// danger
@special-color-danger-borderColor: @special-color-danger;
@special-color-danger-borderColorLite: tint(@special-color-danger, 60%);
@special-color-danger-backgroundColor: tint(@special-color-danger, 70%);
@special-color-danger-gradientStartColor: tint(@special-color-danger, 30%);
@special-color-danger-gradientEndColor: @special-color-danger;
