// font properties
@fontSize: 12px;
@fontFamily: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
@font: @fontSize @fontFamily;


// Sizes
@size-font: 12px;
@size-font-large: 18px;

@size-borderWidth: 1px;

@size-XXS: 3px;
@size-XS: 6px;
@size-S: 9px;
@size-standard: 12px;
@size-L: 15px;
@size-XL: 24px;
@size-XXL: 30px;

@size-standard-height: 28px;

// Z Indices
@zIndexModal: 4000;

// Animations
@timing-animation-fade: 300ms;

// Gradient values
// used when defining a gradient (button)
@standardGradient: to bottom;
@hoverGradient: to top;

// Standard Border Radius
@size-borderRadius: 4px;

// Standard Text color
@color-textColor: @color-darkGray;
@color-disabledText: tint(@color-textColor, 50%);

// Standard link colors
@color-linkColor: @color-primary;
@color-linkColorHover: darken(@color-linkColor, 20%);

// Standard Border Color
@color-borderColorLight: @color-gray;
@color-borderColor: @color-mediumGray;

// Standard Background Color
@color-backgroundColor: @color-lightGray;

// General color
@color-white: #fff;
@color-black: #000;

// Primary Colors
@color-primary: #2abbb0;
@color-primaryMedium: tint(@color-primary, 65%);
@color-primaryLight: tint(@color-primary, 85%);
@color-primary-30: fade(@color-primary, 30%);

// Genaral Grays
@color-lightGray: #f4f4f4;
@color-gray: #e3e3e3;
@color-mediumGray: #c5c5c5;
@color-darkGray: #333333;

// Transparent Grays
@color-gray-5: fade(@color-black, 5%);
@color-gray-10: fade(@color-black, 10%);
@color-gray-25: fade(@color-black, 25%);
@color-gray-30: fade(@color-black, 30%);
@color-gray-50: fade(@color-black, 50%);
@color-gray-60: fade(@color-black, 60%);

// Normalize transparent due to Safari bug
@color-transparent: rgba(255, 255, 255, 0);

// ---------------------------------------------
//                  Borders
// ---------------------------------------------
@border-standardBorder: 1px solid @color-borderColor;
@border-lightBorder: 1px solid @color-borderColorLight;

@border-table: 1px solid #767b7f;

// -------------------------------------
//             Box Shadows
// -------------------------------------
// Standard inset shadow
@shadow-inset: 0 10px 10px -10px @color-gray-30 inset;
@shadow-solid-outline: 0px 0px 0px 3px @color-primary-30;

// Featured color variables are intended to only be used for components that
// have "states" to them like `info`, `waring`, `danger` etc.

// `@featured-color-default-borderColor` should only be used for banner or
// button or button like components.

// Do not use `@featured-color-primary` instead use `@primary-color`

// Featured colors
@featured-color-default: #f3f3f3;
@featured-color-primary: @color-primary;
@featured-color-success: #3fa516;
@featured-color-info: #0089c4;
@featured-color-warning: #feb209;
@featured-color-danger: #f7403a;

// Featured default Color
@featured-color-default-borderColor: #c5c5c5;
@featured-color-default-backgroundColor: #ededed;
@featured-color-default-gradientStartColor: #f3f3f3;
@featured-color-default-gradientEndColor: #e2e2e2;

// Featured primary Color
@featured-color-primary-borderColor: @featured-color-primary;
@featured-color-primary-borderColorLite: tint(@featured-color-primary, 60%);
@featured-color-primary-backgroundColor: tint(@featured-color-primary, 70%);
@featured-color-primary-gradientStartColor: tint(@featured-color-primary, 30%);
@featured-color-primary-gradientEndColor: @featured-color-primary;

// Featured success Color
@featured-color-success-borderColor: @featured-color-success;
@featured-color-success-borderColorLite: tint(@featured-color-success, 60%);
@featured-color-success-backgroundColor: tint(@featured-color-success, 70%);
@featured-color-success-gradientStartColor: tint(@featured-color-success, 30%);
@featured-color-success-gradientEndColor: @featured-color-success;

// Featured info Color
@featured-color-info-borderColor: @featured-color-info;
@featured-color-info-borderColorLite: tint(@featured-color-info, 60%);
@featured-color-info-backgroundColor: tint(@featured-color-info, 70%);
@featured-color-info-gradientStartColor: tint(@featured-color-info, 30%);
@featured-color-info-gradientEndColor: @featured-color-info;

// Featured warning Color
@featured-color-warning-borderColor: @featured-color-warning;
@featured-color-warning-borderColorLite: tint(@featured-color-warning, 60%);
@featured-color-warning-backgroundColor: tint(@featured-color-warning, 70%);
@featured-color-warning-gradientStartColor: tint(@featured-color-warning, 30%);
@featured-color-warning-gradientEndColor: @featured-color-warning;

// Featured danger Color
@featured-color-danger-borderColor: @featured-color-danger;
@featured-color-danger-borderColorLite: tint(@featured-color-danger, 60%);
@featured-color-danger-backgroundColor: tint(@featured-color-danger, 70%);
@featured-color-danger-gradientStartColor: tint(@featured-color-danger, 30%);
@featured-color-danger-gradientEndColor: @featured-color-danger;

