// font properties
@fontSize: 12px;
@fontFamily: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
@font: @fontSize @fontFamily;

// type-subtype-propName

// Gradient values
@standardGradient: to bottom;
@hoverGradient: to top;

@size-boxShadow: rgba(0,0,0,.3);
@size-borderRadius: 4px;

// button sizes
@size-button-padding: 12px;
@size-button-lineHeight: 26px;
@size-button-borderRadius: @size-borderRadius;

// colors
@color-white: #fff;
@color-black: black;

@color-gray-5: fade(@color-black, 5%);
@color-gray-10: fade(@color-black, 10%);
@color-gray-25: fade(@color-black, 25%);
@color-gray-30: fade(@color-black, 30%);

// basic colors
@color-ligthGray: #f4f4f4;
@color-gray: #e3e3e3;
@color-mediumGray: #c5c5c5;
@color-darkGray: #333333;

// featured colors
@color-default: #f3f3f3;
@color-primary: #2abbb0;
@color-success: #3fa516;
@color-info: #0089c4;
@color-warning: #feb209;
@color-danger: #f7403a;

@color-borderColor: @color-gray;
@color-backgroundColor: @color-ligthGray;

// default
@color-default-borderColor: #c5c5c5;
@color-default-backgroundColor: transparent;
@color-default-gradientStartColor: #f3f3f3;
@color-default-gradientEndColor: #e2e2e2;

// primary
@color-primary-borderColor: @color-primary;
@color-primary-backgroundColor: transparent;
@color-primary-gradientStartColor: fade(@color-primary, 70%);
@color-primary-gradientEndColor: @color-primary;

// success
@color-success-borderColor: @color-success;
@color-success-backgroundColor: transparent;
@color-success-gradientStartColor: fade(@color-success, 70%);
@color-success-gradientEndColor: @color-success;

// info
@color-info-borderColor: @color-info;
@color-info-backgroundColor: transparent;
@color-info-gradientStartColor: fade(@color-info, 70%);
@color-info-gradientEndColor: @color-info;

// warning
@color-warning-borderColor: @color-warning;
@color-warning-backgroundColor: transparent;
@color-warning-gradientStartColor: fade(@color-warning, 70%);
@color-warning-gradientEndColor: @color-warning;

// danger
@color-danger-borderColor: @color-danger;
@color-danger-backgroundColor: transparent;
@color-danger-gradientStartColor: fade(@color-danger, 70%);
@color-danger-gradientEndColor: @color-danger;
