.lucid-LoadingMessage {

	.lucid-Icon {
		display: inline-block;
	}

	@message-padding: @size-standard;

	line-height: 1em;
	background-color: @color-white;
	position: relative;
	display: inline-block;
	text-align: center;
	border: @border-lightBorder;
	border-radius: @size-borderRadius;
	padding: @message-padding;
	width: 135px + (@message-padding * 2);

	&-title {
		font: bold @size-L @fontFamily;
		margin: 6px 0 0;
	}

	&-body {
		font: @font;
		margin: 6px 0 0;
		display: inline-block;
	}
	&-close {
		position: absolute;
		top: 6px;
		right: 6px;
		cursor: pointer;
		fill: @color-gray-50;
		&:hover {
			fill: @color-black;
		}
	}
	&-no-content {
		width: inherit;
	}
}
