@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.@{prefix}-CheckboxLabeled {
	align-items: flex-start;
	color: @color-darkGray;
	cursor: pointer;
	display: flex;
	font-size: @fontSize;
	font-family: @fontFamily;
	justify-content: flex-start;
	width: fit-content;

	> .@{prefix}-Checkbox {
		flex: 0 0 @Checkbox-size;
		margin-right: @size-XXS;
	}

	&-label {
		padding-top: @size-XXS;
	}

	&&-is-disabled {
		color: @color-mediumGray;
		cursor: not-allowed;
	}

	&:hover .@{prefix}-Checkbox-visualization-container {
		border-color: @color-primary;
		transition: @Checkbox-animation-timing;
	}

	&:hover .@{prefix}-Checkbox-visualization-glow {
		.opacity(0.3);

		transform: @Checkbox-glow-scale;
	}

	&&-is-disabled .@{prefix}-Checkbox-visualization-container,
	&&-is-disabled:hover .@{prefix}-Checkbox-visualization-container {
		background-color: @Checkbox-disabled-backgroundColor;
		border-color: @Checkbox-disabled-borderColor;
	}

	&&-is-disabled:hover .@{prefix}-Checkbox-visualization-glow {
		.opacity(0);

		transform: none;
	}

	&&-is-disabled&&-is-selected:hover .@{prefix}-Checkbox-visualization-container,
	&&-is-selected .@{prefix}-Checkbox-visualization-container {
		background-color: @color-primary;
		border-color: @color-primary;
	}
}

