@Modal-zIndex: 4000;
@Modal-size-spacing: 12px;
@Modal-size-borderRadius: @size-borderRadius + 2;

.lucid-Modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: @color-gray-30;
	display: block;
	overflow: hidden;
	z-index: @Modal-zIndex; // TODO: use variable

	&-window {
		position: fixed;
		display: block;
		z-index: @Modal-zIndex + 1;
		max-width: 90%;
		max-height: 90%;
		border-radius: @Modal-size-borderRadius;
		box-shadow: 0 0 4px 0 @color-gray-50;
		overflow: hidden;
	}

	&-header {
		// display: flex;
		// align-items: baseline;
		// justify-content: space-between;
		display: relative;
		flex: 1 0 auto;
		font-family: @fontFamily;
		font-size: @size-font-large;
		color: @color-darkGray;
		font-weight: bold;
		background-color: @color-lightGray;
		border-bottom: 1px solid @color-gray;
		padding: @Modal-size-spacing;
		padding-bottom: @Modal-size-spacing - 2;
	}

	&-body {
		flex: 1 1 auto;
		overflow: auto;
		padding: @Modal-size-spacing;
	}

	&-footer {
		flex: 1 0 auto;
		text-align: right;
		background-color: @color-white;
		padding: @Modal-size-spacing;
		border-top: 1px solid @color-gray;
	}

	&-content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-content: stretch;
		justify-content: center;
		width: 100%;
		height: 100%;
		background: @color-white;
	}

	// Transition styles
	// TODO: make mixin and use in Banner

	&-enter {
		opacity: 0.01;
	}

	&-enter&-enter-active {
		opacity: 1;
		transition: opacity 300ms ease-in;
	}

	&-leave {
		opacity: 1;
	}

	&-leave&-leave-active {
		opacity: 0.01;
		transition: opacity 300ms ease-in;
	}
}
