@Modal-zIndex: 4000;
@Modal-size-spacing: 12px;
@Modal-size-borderRadius: @size-borderRadius + 2;
@Modal-size-maxHeight: 80vh;

.lucid-Modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: @color-gray-30;
	display: block;
	overflow: hidden;
	z-index: @Modal-zIndex; // TODO: use variable
	display: flex;
	justify-content: center;
	align-items: center;

	&-window {
		align-content: stretch;
		background: @color-white;
		border-radius: @Modal-size-borderRadius;
		box-shadow: 0 0 4px 0 @color-gray-50;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-height: @Modal-size-maxHeight;
		overflow: hidden;
		z-index: @Modal-zIndex + 1;
	}
	&-window-is-small {
		width: 30%;
	}
	&-window-is-medium {
		width: 60%;
	}
	&-window-is-large {
		width: 90%;
	}

	&-header {
		flex: 1 0 auto;
		font-family: @fontFamily;
		font-size: @size-font-large;
		color: @color-darkGray;
		font-weight: bold;
		background-color: @color-lightGray;
		border-bottom: 1px solid @color-gray;
		padding: @Modal-size-spacing;
		padding-bottom: @Modal-size-spacing - 2;
	}

	&-body {
		flex: 1 1 auto;
		overflow: auto;
		padding: @Modal-size-spacing;
	}

	&-footer {
		flex: 1 0 auto;
		text-align: right;
		background-color: @color-white;
		padding: @Modal-size-spacing;
		border-top: 1px solid @color-gray;
	}

	// Transition styles
	// TODO: make mixin and use in Banner

	.transition-group-animation-fade();
	// &-enter {
	// 	opacity: 0.01;
	// }

	// &-enter&-enter-active {
	// 	opacity: 1;
	// 	transition: opacity 300ms ease-in;
	// }

	// &-leave {
	// 	opacity: 1;
	// }

	// &-leave&-leave-active {
	// 	opacity: 0.01;
	// 	transition: opacity 300ms ease-in;
	// }
}
