.lucid-ScrollTable {
	border: @Table-cell-border;
	max-width: 100%;
	overflow: auto;
	display: inline-block;

	& > .lucid-Table {

		&.lucid-ScrollTable-nowrap {
			.lucid-Table-cell {
				white-space: nowrap;
			}
		}
	}
}
