@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.@{prefix}-ButtonGroup {
	display: flex;

	> .@{prefix}-Button {

		&.@{prefix}-Button-is-active {
			border: 2px solid @color-primary;
		}

		&-is-active + .@{prefix}-Button-is-active {
			border-left: 0;
		}
	}
}


