@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

@SingleSelect-size-controlHeight: @size-standard-height;

.lucid-SingleSelect {
	&-Control {
		.no-safari-flicker();
		.box-sizing();

		background-color: @featured-color-default-backgroundColor;
		cursor: pointer;
		height: @SingleSelect-size-controlHeight;
		display: flex;
		outline: none;
		border: 1px solid @featured-color-default-borderColor;
		border-radius: @size-borderRadius;
		font-size: @fontSize;
		font-family: @fontFamily;
		font-weight: @font-weight-medium;
		color: @color-darkGray;
		line-height: @size-standard-height;
		padding: 0 @size-standard;
		align-items: center;
		white-space: nowrap;

		&::before {
			border-radius: @size-borderRadius;
		}

		&-content {
			display: flex;
			align-items: center;
			margin-right: @size-standard;
		}

		.lucid-CaretIcon {
			fill: @color-primary;
			margin-left: auto;
		}

		&:hover {
			background-color: @color-neutral-3;
		}

		&:focus {
			background-color: @color-neutral-4;
		}

		// States
		&-is-highlighted,
		&-is-selected {
			border: 2px solid @featured-color-primary-borderColor;
			// background-color: @featured-color-primary-backgroundColor;
		}

		&-is-expanded {
			z-index: @zindex-tooltip;
			// background-color: @featured-color-default-backgroundColor;
		}
		
		&-is-selected&-is-expanded {
			background-color: @featured-color-default-backgroundColor;
		}

		&-is-null-option {
			background-color: @featured-color-default-backgroundColor;
			border: 1px solid @featured-color-default-borderColor;
		}

		&-is-disabled {
			.opacity(@opacity-disabled);

			cursor: not-allowed;
		}
	}

	&.lucid-DropMenu-is-expanded {
		&.lucid-DropMenu-direction-up {
			.lucid-SingleSelect-Control {
				border-radius: 0 0 @size-borderRadius @size-borderRadius;
			}
		}

		&.lucid-DropMenu-direction-down {
			.lucid-SingleSelect-Control {
				border-radius: @size-borderRadius @size-borderRadius 0 0;
			}
		}
	}
}

.lucid-DropMenu-label {
	text-transform: uppercase;
	color: @color-neutral-6;
	font-weight: @font-weight-medium;
}

// .lucid-DropMenu-Option-is-null {
// 	back
// }


// with red:
// lucid-DropMenu lucid-DropMenu-base lucid-DropMenu-is-expanded lucid-DropMenu-direction-down lucid-SingleSelect

// with null:
// lucid-DropMenu lucid-DropMenu-base lucid-DropMenu-is-expanded lucid-DropMenu-direction-down lucid-SingleSelect
