.lucid-WarningIcon{
	&-mark {
		fill: @color-white;
	}

	&-triangle {
		fill: @featured-color-warning;
		&-is-disabled {
			fill: @color-disabledText;
		}
	}
	&-is-clickable:hover > &-triangle {
		fill: @featured-color-warning-colorHover;
	}
}
