@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

@Dialog-size-spacing: 30px;
@Dialog-size-borderRadius: @size-borderRadius + 2;
@Dialog-size-maxHeight: 80vh;
@Dialog-size-smallWidth: 30%;
@Dialog-size-mediumWidth: 60%;
@Dialog-size-largeWidth: 90%;

.@{prefix}-Dialog {
	.transition-group-animation-fade();

	&-window {
		display: flex;
		flex-direction: column;
		background: @color-white;
		box-shadow: 0 1px 5px 0 rgba(33, 31, 31, 0.3);
		max-height: @Dialog-size-maxHeight;
		overflow: hidden;
		z-index: @zindex-modal;
	}

	&-window-is-small {
		width: @Dialog-size-smallWidth;
	}

	&-window-is-medium {
		width: @Dialog-size-mediumWidth;
	}

	&-window-is-large {
		width: @Dialog-size-largeWidth;
	}



	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-family: @fontFamily;
		font-size: @size-font-L;
		color: @color-darkGray;
		font-weight: @font-weight-medium;
		padding: 26px @Dialog-size-spacing 10px;

		.@{prefix}-Dialog-close-button {
			position: relative;
			padding: 0 8px;

			.@{prefix}-Icon {
				stroke: @color-neutral-6;
			}
		}
	}

	& &-is-menu &-header {
		box-sizing: content-box;
		padding: 24px @Dialog-size-spacing 18px;
		border-bottom: 1px solid @color-neutral-4;
		font-size: @size-font-L;
		height: 28px;
	}

	&-body {
		flex: 1 1 auto;
		overflow: auto;
		padding: 10px @Dialog-size-spacing;
		max-height: 60vh; // fix for IE 11 bug, otherwise the body doesn't shrink properly
		font-size: @fontSize;
		font-family: @fontFamily;
		line-height: 14px;
	}

	&-body-no-gutters {
		padding: 0;
	}

	&-footer {
		flex: 1 0 auto;
		text-align: right;
		background-color: @color-white;
		padding: 26px;
	}

	& &-is-menu &-footer {
		border-top: 1px solid @color-neutral-4;
		padding: 20px @Dialog-size-spacing;
		height: 30px;
		box-sizing: content-box;
	}
}

