@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/mixins.less';

.@{prefix}-MinusCircleIcon {
	stroke: @color-secondary-1;

	&-dash {
		stroke: @color-white;
	}

	&-background {
		stroke: @color-secondary-1;
		fill: @color-secondary-1;
	}

	&-is-clickable:not(&-is-disabled):hover &-background {
		stroke: shade(@color-secondary-1, 20%);
		fill: shade(@color-secondary-1, 20%);
	}
}
