.lucid-ToolTip-flyout {
	background-color: @color-white;
	border: @border-standardBorder;
	border-radius: @size-borderRadius;
	padding: @size-standard;
	font-size: @fontSize;
	color: @color-darkGray;

	.lucid-ToolTip-title {
		font-size: @size-L;
		font-weight: bold;
		margin: 0 0 @size-XXS;
	}

}
