@tooltip-pointer-inner-width: 8px;
@tooltip-pointer-outer-width: 9px;
@tooltip-pointer-offset: 13px;

.lucid-ToolTip-FlyOut {
	background-color: @color-white;
	border: @border-standardBorder;
	border-radius: @size-borderRadius;
	padding: @size-standard;
	font-size: @fontSize;
	color: @color-darkGray;

	.lucid-ToolTip-title {
		font-size: @size-L;
		font-weight: bold;
		margin: 0 0 @size-XXS;
	}

	&:after, &:before {
		content: ' ';
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border: 7px solid transparent;
	}

	&:after {
		border-width: @tooltip-pointer-inner-width;
	}

	&:before {
		border-width: @tooltip-pointer-outer-width;
	}

	&.lucid-ToolTip-up:after,
	&.lucid-ToolTip-up:before {
		top: 100%;
	}

	&.lucid-ToolTip-up:after {
		border-top-color: @color-white;
		margin-left: -@tooltip-pointer-inner-width;
	}

	&.lucid-ToolTip-up:before {
		border-top-color: @color-borderColor;
	}

	&.lucid-ToolTip-down:after,
	&.lucid-ToolTip-down:before {
		bottom: 100%;
	}

	&.lucid-ToolTip-down:after {
		border-bottom-color: @color-white;
	}

	&.lucid-ToolTip-down:before {
		border-bottom-color: @color-borderColor;
	}

	&.lucid-ToolTip-up.lucid-ToolTip-center:after,
	&.lucid-ToolTip-up.lucid-ToolTip-center:before,
	&.lucid-ToolTip-down.lucid-ToolTip-center:after,
	&.lucid-ToolTip-down.lucid-ToolTip-center:before {
		left: 50%;
	}

	&.lucid-ToolTip-up.lucid-ToolTip-center:before,
	&.lucid-ToolTip-down.lucid-ToolTip-center:before {
		margin-left: -@tooltip-pointer-outer-width;
	}

	&.lucid-ToolTip-up.lucid-ToolTip-center:after,
	&.lucid-ToolTip-down.lucid-ToolTip-center:after {
		margin-left: -@tooltip-pointer-inner-width;
	}

	&.lucid-ToolTip-up.lucid-ToolTip-start:after,
	&.lucid-ToolTip-down.lucid-ToolTip-start:after {
		margin-left: 1px;
	}

	&.lucid-ToolTip-up.lucid-ToolTip-end:after,
	&.lucid-ToolTip-down.lucid-ToolTip-end:after {
		margin-right: 1px;
	}

	&.lucid-ToolTip-down.lucid-ToolTip-start:after,
	&.lucid-ToolTip-down.lucid-ToolTip-start:before,
	&.lucid-ToolTip-up.lucid-ToolTip-start:after,
	&.lucid-ToolTip-up.lucid-ToolTip-start:before {
		left: @tooltip-pointer-offset;
	}

	&.lucid-ToolTip-down.lucid-ToolTip-end:after,
	&.lucid-ToolTip-down.lucid-ToolTip-end:before,
	&.lucid-ToolTip-up.lucid-ToolTip-end:after,
	&.lucid-ToolTip-up.lucid-ToolTip-end:before {
		right: @tooltip-pointer-offset;
	}

	&.lucid-ToolTip-left:after,
	&.lucid-ToolTip-left:before {
		left: 100%;
	}

	&.lucid-ToolTip-left:after {
		border-left-color: @color-white;
	}

	&.lucid-ToolTip-left:before {
		border-left-color: @color-borderColor;
	}

	&.lucid-ToolTip-right:after,
	&.lucid-ToolTip-right:before {
		right: 100%;
	}

	&.lucid-ToolTip-right:after {
		border-right-color: @color-white;
	}

	&.lucid-ToolTip-right:before {
		border-right-color: @color-borderColor;
	}

	&.lucid-ToolTip-left.lucid-ToolTip-center:after,
	&.lucid-ToolTip-left.lucid-ToolTip-center:before,
	&.lucid-ToolTip-right.lucid-ToolTip-center:after,
	&.lucid-ToolTip-right.lucid-ToolTip-center:before {
		top: 50%;
	}

	&.lucid-ToolTip-left.lucid-ToolTip-center:before,
	&.lucid-ToolTip-right.lucid-ToolTip-center:before {
		margin-top: -@tooltip-pointer-outer-width;
	}

	&.lucid-ToolTip-left.lucid-ToolTip-center:after,
	&.lucid-ToolTip-right.lucid-ToolTip-center:after {
		margin-top: -@tooltip-pointer-inner-width;
	}

	&.lucid-ToolTip-left.lucid-ToolTip-start:after,
	&.lucid-ToolTip-left.lucid-ToolTip-start:before,
	&.lucid-ToolTip-right.lucid-ToolTip-start:after,
	&.lucid-ToolTip-right.lucid-ToolTip-start:before {
		top: @tooltip-pointer-offset;
	}

	&.lucid-ToolTip-left.lucid-ToolTip-end:after,
	&.lucid-ToolTip-left.lucid-ToolTip-end:before,
	&.lucid-ToolTip-right.lucid-ToolTip-end:after,
	&.lucid-ToolTip-right.lucid-ToolTip-end:before {
		bottom: @tooltip-pointer-offset;
	}

	&.lucid-ToolTip-left.lucid-ToolTip-start:after,
	&.lucid-ToolTip-right.lucid-ToolTip-start:after {
		margin-top: 1px;
	}

	&.lucid-ToolTip-left.lucid-ToolTip-end:after,
	&.lucid-ToolTip-right.lucid-ToolTip-end:after {
		margin-bottom: 1px;
	}

}
