@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.lucid-ProgressBar {
	display: flex;
	text-align: center;
	margin: 8px 0;
	border: 1px solid #f4f4f4;
	background-color: #f4f4f4;
	height: 4px;

	&-title {
		margin: 5px;
		font-weight: bold;
	}

	// Kinds
	&-default {
		background: #2abbb0;
		border: 1px solid #2abbb0;
	}

	&-success {
		background: @featured-color-success-borderColorLite;
		border: 1px solid @featured-color-success-borderColorLite;
	}

	&-danger {
		background: @featured-color-danger-borderColorLite;
		border: 1px solid @featured-color-danger-borderColorLite;
	}

	&-info {
		background: @featured-color-info-borderColorLite;
		border: 1px solid @featured-color-info-borderColorLite;
	}

	&-warning {
		background: @featured-color-warning-borderColorLite;
		border: 1px solid @featured-color-warning-borderColorLite;
	}
}
