@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.@{prefix}-Paginator {
	font-size: @fontSize;
	color: @color-neutral-9;

	&-total-count {
		flex: 1;
		text-transform: capitalize;
	}

	&-rows-per-page-label {
		margin-right: @size-XS;
	}

	&-page-size-container {
		margin-right: @size-standard;
		padding-right: @size-standard;
		border-right: @border-standardBorder;
	}

	display: flex;
	flex-direction: row;
	align-items: center;

	& > .@{prefix}-TextField {
		text-align: center;
		width: 45px;
		margin-right: @size-S;
		color: @color-neutral-9;
	}

	& > .@{prefix}-Button,
	& > span {
		margin-right: @size-S;
	}
}

