@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.lucid-Paginator {
	font-size: @fontSize;
	font-family: @fontFamily;

	&-rows-per-page-label {
		margin-right: @size-XS;
	}

	&-page-size-container {
		margin-right: @size-standard;
		padding-right: @size-standard;
		border-right: @border-standardBorder;
	}

	display: flex;
	flex-direction: row;
	align-items: center;

	& > .lucid-TextField {
		text-align: center;
		width: 45px;
		margin-right: @size-S;
	}

	& > .lucid-Button,
	& > span {
		margin-right: @size-S;
	}

	.lucid-Button {
		.lucid-Button-content {
			& > .lucid-Icon {
				fill: @color-textColor;
			}
		}
	}
}

