.lucid-SplitButton {
	.lucid-CaretIcon {
		margin-left: @size-XXS;
		margin-right: @size-XXS;
	}

	.lucid-Button-primary, .lucid-Button-success, .lucid-Button-warning, .lucid-Button-danger, .lucid-Button-info {
		.lucid-CaretIcon {
			fill: @color-white;
		}
	}
}
