@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.@{prefix}-SplitButton {
	&-CaretIcon {
		margin-left: @size-XXS;
		margin-right: @size-XXS;
	}

	.@{prefix}-Button-primary,
	.@{prefix}-Button-success,
	.@{prefix}-Button-warning,
	.@{prefix}-Button-danger,
	.@{prefix}-Button-info {
		.@{prefix}-SplitButton-CaretIcon {
			fill: @color-white;
		}

		&.@{prefix}-SplitButton-Button-primary {
			&:active:focus {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		&.@{prefix}-SplitButton-Button-drop {
			&:active:focus {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	&.@{prefix}-DropMenu-is-expanded {
		&.@{prefix}-DropMenu-direction-up {
			.@{prefix}-SplitButton-Button-primary {
				border-top-left-radius: 0;
			}

			.@{prefix}-SplitButton-Button-drop {
				border-top-right-radius: 0;
			}
		}

		&.@{prefix}-DropMenu-direction-down {
			.@{prefix}-SplitButton-Button-primary {
				border-bottom-left-radius: 0;
			}

			.@{prefix}-SplitButton-Button-drop {
				border-bottom-right-radius: 0;
			}
		}
	}
}

