.lucid-DataTable {
	.lucid-Table-density-extended {
		.lucid-Table-Tbody {
			.lucid-Table-Tr {
				.lucid-Table-Td.lucid-DataTable-empty-cell {
						background: @pattern-diagonal-striped;
						color: @color-mediumGray;
						text-align: center;
						text-shadow: @color-white 1px 1px;
				}
			}
		}
	}
}
