@banner: lucid-Banner;
.@{banner} {
	.box-sizing();
	border: 1px solid @color-default-borderColor;
	background-color: @color-default-backgroundColor;
	font: @font;
	border-radius: @Banner-size-borderRadiaus;
	padding: 0 @Banner-size-spacing-rightLeft;
	display: flex;

	&.@{banner}-has-close {
		padding-right: 10px;
	}

	&.@{banner}-has-no-roundedCorners {
		border-radius: 0;
	}

	&-has-icon {
		& > .@{banner}-content {
			padding: @Banner-size-spacing-topBottom 0;
		}
	}

	&-content {
		flex: 1;
		padding: @Banner-size-spacing-topBottom 0;
		line-height: 1em;
		& > p {
			&:first-of-type {
				margin-top: 0;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&-close {
		align-self: flex-start;
		font-size: 1rem;
		font-weight: bold;
		cursor: pointer;
		line-height: 1em;
		padding-top: 4px;
		color: fade(@color-black, 50%);
		&:hover {
			color: @color-black;
		}
	}

	// has Icon
	&-icon {
		padding-top: @Banner-size-spacing-topBottom - 5px;
		margin-right: @Banner-size-spacing-rightLeft;
		.lucid-Icon {
			width: 22px;
			height: 22px;
		}
	}

	// Types
	&-primary {
		border-color: @color-primary-borderColorLite;
		.gradient-reset(linear-gradient(@standardGradient, @color-primary-backgroundColor, @color-primary-backgroundColor));
		background-color: #fff;
	}
	&-success {
		border-color: @color-success-borderColorLite;
		.gradient-reset(linear-gradient(@standardGradient, @color-success-backgroundColor, @color-success-backgroundColor));
		background-color: #fff;
		.lucid-Icon {
			background: @color-success;
		}
	}
	&-info {
		border-color: @color-info-borderColorLite;
		.gradient-reset(linear-gradient(@standardGradient, @color-info-backgroundColor, @color-info-backgroundColor));
		background-color: #fff;
		.lucid-Icon {
			background: @color-info;
		}
	}
	&-warning {
		border-color: @color-warning-borderColorLite;
		.gradient-reset(linear-gradient(@standardGradient, @color-warning-backgroundColor, @color-warning-backgroundColor));
		background-color: #fff;
	}
	&-danger {
		border-color: @color-danger-borderColorLite;
		.gradient-reset(linear-gradient(@standardGradient, @color-danger-backgroundColor, @color-danger-backgroundColor));
		background-color: #fff;
		.lucid-Icon {
			background: @color-danger;
		}
	}

	&-small {
		.@{banner}-content {
			padding: @Banner-size-spacing-topBottom - 5px 0;
		}
	}
}
