@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.lucid-SearchField {
	position: relative;

	.lucid-TextField {
		border-radius: @size-standard-height / 2;
	}

	&-Icon-container {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		display: flex;
		align-items: center;
		margin-right: @size-XS;
	}

	&-Icon {
		fill: #7a7878; // TODO: use a value from `variables.less`

		&-active {
			fill: @color-primary;
		}
	}
}

